#attendance{
	height: 250px;
    width: 310px;
    padding-right: 20px;
    margin-right: 20px;
    margin-top: 150px;
	border :2px solid black;
	border-radius: 5px;
	margin-left: 10px;
}

#message{
	height: 250px;
    width: 310px;
    padding-right: 20px;
    margin-right: 20px;
    margin-top: 150px;
	border :2px solid black;
	border-radius: 5px;
}

#spotlight{
	height: 250px;
    width: 310px;
    padding-right: 20px;
    margin-right: 20px;
    margin-top: 150px;
	border :2px solid black;
	border-radius: 5px;
}

.title-box{
	/* width:200px;
	height:200px; */
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	background-color:#3370B1;
	text-align : center;
}

button{
	padding: 10px;
}


hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.sub-div{
	-webkit-border-radius: 1em;
	        border-radius: 1em;
	border: 1px solid black;
	padding-bottom: 5px;
}