input[type="button"],input[type="submit"]{
    /* end of placing */
	cursor: pointer;
	width: 150px;
    height: 24px;
    padding: 0;
    font-weight: bold;
    color: white;
    text-align: center;
    border: 1px solid;
    border-color: #1486f9 #0f7de9 #0d6acf;
    background: #1993fb;
    border-radius: 4px;
	background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}
input[type="checkbox"] {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,80%,.1)),
                      -webkit-linear-gradient(left, rgb(237, 234, 222) 50%, #67cd2c 50%);
    background-size: 100% 100%, 200% 100%;
    border-radius: 25px;
    cursor: pointer;
    height: 20px;
    left: 50%;
    margin-right: 16px;
    padding-right: 20px;
    width: 60px;
    -webkit-appearance: none;
    -webkit-transition: .25s;
}

a font{
    color: black;
    font-weight: 500;

}
a font:hover{
    color: #056495;
    font-weight: 500;

}
input[type="checkbox"]:after {
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    border-radius: 25px;
    content: '';
        box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1),
                inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
                0 1px 3px 1px hsla(0,0%,0%,.5),
                0 0 2px hsla(0,0%,0%,.25);
    display: block;
    height: 20px;
    left: 0;
    top: 0;
    width: 40px;
}
input[type="checkbox"]:checked {
    background-position: 0 0, 35px 0;
    padding-left: 25px;
    padding-right: 0;
}